
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f0f2f5;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 40px 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #2d3436;
  margin-bottom: 10px;
}

p {
  color: #636e72;
  font-size: 14px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #dfe6e9;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #0984e3;
}

.btn {
  width: 100%;
  background: #4ab77b;
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover{opacity:.9;}

.login-link {
  margin-top: 15px;
}

.login-link a {
  color: #0984e3;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.login-link a:hover {
  color: #74b9ff;
}

@media (max-width: 480px) {
  .container {
    padding: 30px 20px;
  }

  h2 {
    font-size: 20px;
  }
}